p.bluecolor{
    color: blue;
}
/* h1タグの中でもkudoというid名のやつだけを装飾 */
h1#kudo{
    background-color: hotpink;
}

h2{
    color: red;
    background-color: aqua;
}

h2{
    color: green;
    background-color: deepskyblue;
}

body{
}