h1{
    color: #ff9090;
    font-size: 60px;
    font-weight: normal;
    font-family: "IMpact";
    text-align: center;
    background-color: papayawhip;
}

h2{
    text-align: center;
    color: #ff7090;
    background-color: lightyellow;
}

table{
    background-color: blanchedalmond;
}

ol{
    background-image: url(../images/sakurahosonagahaikei.png);
}

body{
    background-image: url(../images/sakurahaikeirenzoku.png);
}